---
layout: default
---
<h1>{{ site.title }}</h1>
{% for post in site.posts %}
    <article class="container">
      <header>
        <p>
          <time datetime="{{ post.date | date_to_string }}">
            {{ post.date | date_to_string }}
          </time>
        </p>
        <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
      </header>
      <section>
        {% if post.description %}
          {{ post.description }}
        {% else %}
          {{ post.content | truncate: 160 | strip_html | escape | normalize_whitespace }}
        {% endif %}
      </section>
    </article>
{% endfor %}
