{%- capture title -%}
  {% if page.title %}
    {{ page.title }}
  {% else %}
    {{ site.title }}
  {% endif %}
{%- endcapture -%}

{%- capture description -%}
  {% if page.description %}
    {{ page.description }}
  {% else %}
    {% unless page.is_post %}
      {{ site.description }}
    {% else %}
      {{ page.content | truncate: 160 | strip_html | escape | normalize_whitespace }}
    {% endunless %}
  {% endif %}
{%- endcapture -%}

{%- capture author -%}
  {% if page.author %}
    {{ page.author }}
  {% else %}
    {{ site.author }}
  {% endif %}
{%- endcapture -%}

{%- capture image -%}
  {% if page.image %}
    {{ page.url | absolute_url }}{{ page.image }}
  {% else %}
    {{ site.og-image | absolute_url }}
  {% endif %}
{%- endcapture -%}

<head prefix="og: http://ogp.me/ns#;">
  <link rel="canonical" href="{{ page.url | absolute_url }}" />
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
  <link rel="stylesheet" href="{{ site.stylesheets | absolute_url }}style.css">
  <link rel="shortcut icon" href="{{ site.images | absolute_url }}favicon.ico" type="image/x-icon" />
  <link rel="apple-touch-icon-precomposed" sizes="180x180" href="{{ site.images | absolute_url }}apple-touch-icon-precomposed.png" />
  {% feed_meta %}
  <title>{{ title | strip_newlines | normalize_whitespace }}</title>
  <!-- meta tags -->
  <meta name="title" content="{{ title | strip_newlines | normalize_whitespace }}">
  <meta name="description" content="{{ description | strip_newlines | normalize_whitespace }}">
  <meta name="author" content="{{ author | strip_newlines | normalize_whitespace }}" />  
  <!-- og tags -->
  <meta property="og:title" content="{{ title | strip_newlines | normalize_whitespace }}">
  <meta property="og:type" content="{% if page.is_post %}article{% else %}website{% endif %}">
  <meta property="og:image" content="{{ image | strip_newlines | normalize_whitespace }}">  
  {% unless page.image %}<meta property="og:image:width" content="{{ site.og-image-width }}" />
  <meta property="og:image:height" content="{{ site.og-image-height }}" />{% endunless %}
  <meta property="og:url" content="{{ page.url | absolute_url }}">
  <meta property="og:description" content="{{ description | strip_newlines | normalize_whitespace }}">
  <meta property="og:locale" content="{{ site.locale }}" />
  <meta property="og:site_name" content="{{ site.url }}" />
  <!-- twitter tags -->
  <meta property="twitter:card" content="summary_large_image">
  <meta property="twitter:url" content="{{ page.url | absolute_url }}">
  <meta property="twitter:title" content="{{ title | strip_newlines | normalize_whitespace }}">
  <meta property="twitter:description" content="{{ description | strip_newlines | normalize_whitespace }}">
  <meta property="twitter:image" content="{{ image | strip_newlines | normalize_whitespace }}">
</head>
