/////////////////////////////////////////////////////////
// Choose your scale here 
/////////////////////////////////////////////////////////

// List of the most common scales //

$golden-ratio:      1.618; 
$perfect-fifth:     1.5;
$augumented-fourth: 1.414; 
$perfect-fourth:    1.333; 
$major-third:       1.25;  
$minor-third:       1.2;   
$major-second:      1.125; 
$minor-second:      1.067;

$scale: 1.333;

////////////////////////////////////////////////////////
// Optional custom values 
///////////////////////////////////////////////////////

$body-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, 
                Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", 
                "Helvetica Neue", Arial, sans-serif; 

$head-font: $body-font;

// base font for mobile //
$mobile-font: 16px;

// large font for laptops and up (screen > 992px) //
$laptop-font: 18px;

// extra large font for desktops and up (screen > 1600px) //
$desktop-font: 20px;

// Line height: 140% the size of the text is good, but it depends on the typeface you use.
// Line height for body (p) //
$body-line-height: $scale;

// fail-safe line-height
@if $body-line-height == $scale {
    @if $body-line-height <= 1.4 {
        $body-line-height: 1.4;
    }    
}

// Line height for headings (h1-h6) //
$head-line-height: 1;  

// Consensus reads that 45~75 characters per line is the ideal
// for mobile phones //
$cls: 45;

// for landscape phones and up (screen > 576px) //
$clm: 60;

// for tablets and up (screen > 768px) //
$cll: 75;

//////////////////
//  Functions   //
/////////////////

// calculate the html font-size in percentage //
@function rootFont($x) {
    @return ($x / 16px) * 100%;
}

// round decimals //
@function round($number, $digits: 0) { 
  $n: 1; 
  @for $i from 1 through $digits { 
    $n: $n * 10; 
  } 
  
  @return ceil($number * $n) / $n; 
}

// Scale Generator //
$base-scale-font: 1rem;
$scale-step: 1rem;
@for $i from 1 to 6 {
  $step: round($base-scale-font * $scale, 3);
  $base-scale-font: $step;
  $scale-step: append($scale-step, $step);
}
