/*------------------------------------
  TABLE OF CONTENTS 
------------------------------------*/
  /* 0. RESET */
    /* 0.1 Normalize.css........Reset for consistency between browsers */
    /* 0.2 config.scss..........Configuration file for this stylesheet */ 
   
  /* 1. BASE STYLES */
    /* 1.1 Structure............html, body, main, section, article, footer */
    /* 1.2 Navigation */
    /* 1.3 Headings.............<h1><h6> */
    /* 1.4 Text.................<p>,<pre>, <fig>, <code> */
    /* 1.5 Links................<a> */
    /* 1.6 Lists................<dl>, <ol>, <ul> */
    /* 1.7 Forms................<form>, <legend>, <fieldset>, <input>, <button> */
    /* !!! integrate the form on codepen */
    
    /* 1.8 Tables...............<table>, <thead>, <tbody>, <tfoot>, <tr>, <td> */
    /* 1.9 Media................<audio>, <object>, <video> */

  /* 2. COMPONENT STYLES */
    /* 2.1 Alerts */
    /* 2.2 Buttons */
    /* 2.3 Carousels */
    /* 2.4 Dropdowns */
    /* 2.5 Modals */
    /* 2.6 Progress Bars */
    /* 2.7 Tabs */

  /* 3. STRUCTURAL STYLES */
    /* 3.1 Checkout Layout */
    /* 3.2 Sidebar Layout */
    /* 3.3 Primary Layout */
    /* 3.4 Settings Layout */
    
  /* 4. UTILITY STYLES */
    /* 4.1 Classes to set padding and margin automatically in scale
  
  
  /* 5. RESPONSIVES */
    /* 5.1 phones(landscape)...................screen => 576px */
    /* 5.2 tablets.............................screen => 768px */
    /* 5.3 laptops.............................screen >= 992px */
    /* 5.4 desktops............................screen >= 1600px */
  

/*-------------------------------------------------------------------------------*/
/*------------------------------------
  0. RESET
------------------------------------*/
/*
* { border: 1px dotted red;}
*/
@import "_normalize";
@import "config";

/*------------------------------------
  1. BASE STYLES
------------------------------------*/
/* 1.1 Structure */

html { font-size: rootFont($mobile-font); }         

body {
    font-size: nth($scale-step, 1);
    line-height: $body-line-height;
    font-family: $body-font;
    background: whitesmoke;
    color: #383838;
    margin: 0;
}

main {
    margin: auto;
    padding: 15px;
}

/*
section { background-color: #E8E8E8; }
*/

.container {
    max-width: round($cls / 1.8333 + 0rem, 3); 
    margin: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

footer { background: silver; }

/* 1.2 Navigation */
a.current, a.current:visited { color: green; }

/* 1.3 Headings */
h1, h2, h3, h4, h5, h6 {
    font-family: $head-font;
    line-height: $head-line-height;
    word-break: break-word;     
}

h1 { font-size: nth($scale-step, 5); margin-bottom: nth($scale-step, 4); }
h2 { font-size: nth($scale-step, 4); margin-bottom: nth($scale-step, 3); }
h3 { font-size: nth($scale-step, 3); margin-bottom: nth($scale-step, 2); }
h4 { font-size: nth($scale-step, 2); margin-bottom: nth($scale-step, 1); }
h5 { font-size: nth($scale-step, 1); }

/* 1.4 Text */

// indent the paragraphs, but not the very first 
/*
p + p { text-indent: nth($scale-step, 2); }
*/
blockquote { 
  font-size: 90%;
  margin: nth($scale-step, 5) nth($scale-step, 3) nth($scale-step, 5);
  text-align: justify;
}
blockquote blockquote::before { content: "\2014\00a0" };
blockquote blockquote { 
  margin: 0 nth($scale-step, 1);
  text-align: right; 
}
blockquote blockquote p { display: inline; }
cite {}
code {}

/* 1.5 Links */
a,
a:visited,
a:focus,
a:hover,
a:active { color: inherit; text-decoration: none; }
a:hover { text-decoration: underline; }

/* Lists */
/* Forms */
/* Tables */
/* Media */

/*------------------------------------
  2. COMPONENT STYLES
------------------------------------*/

/*------------------------------------
  3. STRUCTURAL STYLES
------------------------------------*/


/*------------------------------------
  4. UTILITY STYLES
------------------------------------*/
/* !important classes, and those used by Javascript when a condition is met:
  For example, if pressing a button hides a particular element, this could be 
  achieved by adding the following class:
.hidden {
display: none !important;
}
*/


/* Classes to set padding and margin automatically in scale */ 

/*
 * y = top, bottom
 * t = top
 * l = left
 * r = right
 * b = bottom
*/

$sides: (all, y, x, top, left, right, bottom);
@each $side in $sides {
  $i: 1;
  
  @for $i from 1 through 5 {
    $val: nth($scale-step, $i);
    
    @if $side == "all" {
       .p-#{$i} { padding: $val; }
       .m-#{$i} { margin: $val; }
    } 
  
    @else if $side == "y" {
      .p#{$side}-#{$i} { 
        padding-top: $val; 
        padding-bottom: $val;
      }
      .m#{$side}-#{$i} { 
        margin-top: $val; 
        margin-bottom: $val;
      }
    }
    
    @else if $side == "x" {
      .p#{$side}-#{$i} { 
        padding-left: $val; 
        padding-right: $val;
      }
      .m#{$side}-#{$i} { 
        margin-left: $val; 
        margin-right: $val;
      }                        
    } 
    
    @else {
      $short: (str-slice($side, 1, 1));
      
      .p#{$short}-#{$i} { 
        padding-#{$side}: $val; 
      }
      .m#{$short}-#{$i} { 
        margin-#{$side}: $val; 
      }
    }
    
    $i: $i +1;
  }
}



/*------------------------------------
  5. RESPONSIVES 
------------------------------------*/
/* 5.1 Phones(landscape) */
@media (min-width: 576px) { 

    /* 1.1 Structure */
    .container { max-width: round($clm / 1.8333 + 0rem, 3); } 
}


/* 5.2 Tablets */
@media (min-width: 768px) {

    /* 1.1 Structure */
    .container { max-width: round($cll / 1.8333 + 0rem, 3); }     
}

/* 5.3 Laptops */
@media (min-width: 992px) { 

    /* 1.1 Structure */
    html { font-size: rootFont($laptop-font); }

    /* 1.2 Headings */
        
    h1 { font-size: nth($scale-step, 6); margin-bottom: nth($scale-step, 5); }
    h2 { font-size: nth($scale-step, 5); margin-bottom: nth($scale-step, 4); }
    h3 { font-size: nth($scale-step, 4); margin-bottom: nth($scale-step, 3); }
    h4 { font-size: nth($scale-step, 3); margin-bottom: nth($scale-step, 2); }
    h5 { font-size: nth($scale-step, 2); margin-bottom: nth($scale-step, 1); }
    h6 { font-size: nth($scale-step, 1); }
}

/* Desktops */
@media (min-width: 1600px) {

    /* 1.1 Structure */
    html { font-size: rootFont($desktop-font); }
}




/*    
* Example 4-2. Base styles for sectioning elements

* LISTS (Not sure we need this) 

ul {
    list-style-position: outside;
    list-style-type: disc;
    margin-top: 0;
    margin-bottom: 12px;
}
ul ul {
    margin-bottom: 0;
}

* also
dl # description list
    dt # description term
    dd # description description

* if <main> is used as a visual container
main { margin:; padding: ;}

* tables would be here, but why we should use them?

* forms

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}
input {
    display: block;
    font-size: inherit;
    padding: 4px;
    width: 100%;
}
label {
    display: block;
    font-weight: 900;
    margin-bottom: 6px;
    padding: 4px;
}
legend {
    border: 0;
    color: #000000;
    display: block;
    font-size: 1.2em;
    margin-bottom: 12px;
    padding: 0 12px;
    width: 100%;
}

* images
img {
    border: none;
    max-width: 100%;
    vertical-align: middle;
}    
*/
