---
layout: default
---
<div class="container">
<article>
<h1>{{ page.name }}</h1>
<h2>{{ page.position }}</h2>
<h3>{{ page.contact }}</h3>

{{ content }}
</article>
<h2>Posts</h2>
<ul>
  {% assign filtered_posts = site.posts | where: 'author', page.short_name %}
  {% for post in filtered_posts %}
    <article><li><a href="{{ post.url }}">{{ post.title }}</a></li></article>
  {% endfor %}
</ul>
</div>
