---
layout: default
---
<article class="container">
  <header class="mb-2">
    <h1>{{ page.title }}</h1>
      
      <time datetime="{{ page.date | date_to_string }}">
        {{ page.date | date_to_string }}
      </time>
      <address>
      {% assign author = site.authors | where: 'short_name', page.author | first %}
        {% if author %}
        <a href="{{ author.url }}">{{ author.name }}</a>
          {% if author.contact %}
          <br>{{ author.contact }}
          {% endif %}
        {% endif %}
      </address>
  </header>
  <section>
      {{ content | normalize_whitespace }}
  </section>
</article>
